<!--File name: Portfolio
Student Name: Sinikiem Azaiki
Student number: 301281123 -->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>