<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">  
        <div style="text-align: left; padding: 40px;">
            <img src="/img/headshot.jpeg" alt="My headshot" class="headshot" style="width: 500px; height: 470px;">
        </div>    
    
      <div class="personal">
        <h1 >SINIKIEM AZAIKI</h1>
        <p>
        Hello, I'm Sinikiem Azaiki, a dedicated and innovative programmer with a passion for crafting efficient and elegant solutions in the world of technology. With two credentials in tech and years of experience in the field, I have honed my skills in web design; html5, CSS, JavaScript, and other languages such as Java, Python, SQL, and C#, allowing me to create robust and scalable software applications.

        My journey as a programmer began with a fascination for turning lines of code into meaningful, functional and aesthetically pleasing systems. Over the years, I have had the privilege of working on a diverse range of projects, which has enriched my problem-solving abilities and adaptability.</p>
        
        <p>I thrive in collaborative environments and believe in the power of teamwork to deliver exceptional results. I am constantly driven to stay at the forefront of emerging technologies and industry trends, ensuring that my work remains both relevant and cutting-edge.
        
        Beyond the realm of code, I am an advocate for clean and efficient software design, emphasizing readability and maintainability. My commitment to quality extends to every aspect of my work, from initial design to rigorous testing and optimization.</p>
        
        <p>As a programmer, my mission is to leverage technology to solve real-world challenges, simplify complex processes, and enhance user experiences. I am excited to embark on new projects, collaborate with like-minded professionals, and contribute to the ever-evolving landscape of technology.</p>
        
        <p>Thank you for visiting my website. I invite you to explore my portfolio and discover the diverse projects that showcase my skills and dedication to the craft. If you have any inquiries or opportunities for collaboration, please feel free to reach out. I look forward to connecting with you!
       </p>
      </div>

      <a href="https://docdro.id/aSmyW9v" target="_blank" rel="noopener noreferrer" class="btn resume-btn">
        View Resume</a>
  </div>
</main>


<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
