<!--File name: Portfolio
Student Name: Sinikiem Azaiki
Student number: 301281123 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <div style="text-align: center; padding: 40px;">
    <h1 class="display-4">Get Started on Your Creative Solutions Today!</h1>
    </div>
  </div>

  <div style="text-align: center; padding: 40px;">
    <img src="/img/mission.jpeg" alt="Image Description" style="width: 1000px; height: 500px;">
  </div>

  <div class="mission-statement">
    <h2>MY MISSION</h2>
    <p>At Sinikiem Azaiki's Studio, we are dedicated to transforming the beauty and fashion industry through the power of technology. Our mission is to simplify and enhance the beauty and fashion experience for all.

        We:
    <ul>
        <li>Innovate with purpose to make beauty and fashion more accessible and enjoyable.</li>
        <li>Unleash creativity by providing cutting-edge digital tools for makeup artists, fashion designers, and content creators.</li>
        <li>Embrace inclusivity, ensuring our solutions cater to a diverse audience.</li>
        <li>Lead with technology, staying at the forefront of beauty and fashion tech.</li>
        <li>Elevate your vision, providing the support you need to succeed.</li>
    </ul>
        By merging technology with beauty and fashion, we reshape the industry, fostering a connected, innovative, and inclusive community where creativity knows no bounds. Together, we redefine beauty and fashion for the digital age.</p>
  </div>

  <a class="btn about-btn" href="/about">Get to Know Me</a>

</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
