<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <div style="text-align: center; padding: 40px;">
        <h1 class="display-4">PROJECTS</h1>
    </div>
  </div>
  
  <div class="project">
    <div class="project-info">
      <h2>Project 1</h2>
      <div style="text-align: left; padding : 40px; text-align: center;" class="project-image">
        <img src="/img/project1.png" alt="Project 1" width="1000px" height="700px">
      </div>
      <div style="text-align: left; padding: 40px; text-align: center;" class="project-image">
        <img src="/img/project1-2.png" alt="Project 1" width="1000px" height="700px">
      </div>
      <div style="text-align: left; padding: 40px; text-align: center;" class="project-image">
        <img src="/img/project1-3.png" alt="Project 1" width="1000px" height="700px">
      </div>
      <p>
        Role: Front-End developer<br>
        Description: Online shoe store designed for women.
      </p>
    </div>
  </div>

  <br>
  <br>

  <div class="project">
    <div class="project-info">
      <h2>Project 2</h2>
      <div style="text-align: left; padding: 40px; text-align: center;" class="project-image2">
        <img src="/img/project2.png" alt="Project 2" width="1000px" height="700px">
      </div>
      <div style="text-align: left; padding: 40px; text-align: center;" class="project-image2">
        <img src="/img/project2-1.png" alt="Project 2" width="1000px" height="700px">
      </div>
      <p>
        Role: Front-End developer<br>
        Description: Online beauty store, specifically, cosmetics. Features a store locator.
      </p>
    </div>
  </div>
  
  <br>
  <br>
  <div class="project">
    <div class="project-info">
      <h2>Project 3</h2>
      <div style="text-align: left; padding: 40px; text-align: center;" class="project-image3">
        <img src="/img/project3.png" alt="Project 3" width=width="850px" height="550px">
      </div>
      <div style="text-align: left; padding: 40px; text-align: center;" class="project-image3">
        <img src="/img/project3-1.png" alt="Project 3" width="1000px" height="700px">
      </div>
      <p>
        Role: Front-End developer<br>
        Description: An informative blog site that compiles a list of black-owned businesses for black women.
      </p>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
