<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <div style="text-align: center; padding: 40px;">
    <h1 class="display-4">SERVICES</h1>
    </div>
  </div>

  <div class="service">
    <div class="service1">
     <div style="text-align: center; padding: 40px;">
      <img src="/img/service1.jpeg" alt="Service 1" width="1000px" height="1000px">
      </div>
      <h2>Front-End Web Development</h2>
      <p>Experience seamless and visually appealing websites with our Front-End Web Development service. Expertly crafted user-friendly interfaces and engaging web experiences that leave a lasting impression</p>
    </div>
    <div class="service2">
      <div style="text-align: center; padding: 40px;">  
      <img src="/img/service2.jpeg" alt="Service 2" width="1000px" height="1000px">
      </div>
      <h2>Mobile App Development</h2>
      <p>Elevate your business with our Mobile App Development service. Specialized in creating powerful and intuitive mobile apps, for both iOS and Android, that connect you with your audience on the go. Harness the potential of mobile technology for your success.</p>
    </div>
    <div class="service3">
      <div style="text-align: center; padding: 40px;">
      <img src="/img/service3.jpeg" alt="Service 3" width="1000px" height="1000px">
      </div>
      <h2>Web Design/ Branding Consultation</h2>
      <p>Transform your brand's online presence with our Web Design and Branding consultation service. Ability to craft visually captivating websites and help you define your unique brand identity, ensuring a compelling and memorable user experience.</p>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
